.main-container{
    display: flex;
    height: 100%;
    width: 100%;
}
.sidebar-open{
    width: 30%;
    transition: all 0.6s ease;
}
.sidebar-close{
    width: 9%;
    transition: all 0.4s ease-out;
}